@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <div class="jumbotron">
        <h1>Dipu</h1>
        <p class="lead">Dipu Business Software.</p>
        <p><a href="/home/about" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>
</div>