@{
    ViewBag.Title = "Contact";
}

<div class="container">
    <h2>@ViewBag.Title.</h2>

    <address>
        <strong>Support:</strong>   <a href="mailto:support@inxin.com">Support@inxin.com</a><br />
    </address>
</div>